In [84]:
import yfinance as yf 
import pandas as pd
import numpy as np

In [ ]:
t = yf.Ticker("AAPL")
data = t.options

def fetch_options_data(date):
    data = t.option_chain(date)
    call_data = data.calls
    call_data["expiry_date"] = pd.to_datetime(date)
    return call_data

vec = np.vectorize(fetch_options_data)
options_data = vec(data)
concats = pd.concat(options_data, ignore_index=True)
concats.shape

In [98]:
from datetime import date, datetime
concats[concats["expiry_date"] > datetime.now()].all()

/var/folders/pv/xrvpy8yj2h328lh23xr2gm4w0000gn/T/ipykernel_15943/37750626.py:2: FutureWarning:

'all' with datetime64 dtypes is deprecated and will raise in a future version. Use (obj != pd.Timestamp(0)).all() instead.

strike         True
lastPrice      True
expiry_date    True
dtype: bool

   strike  lastPrice expiry_date
0   100.0     125.45  2024-07-26
1   110.0     100.65  2024-07-26
2   115.0     117.10  2024-07-26
3   130.0      98.14  2024-07-26
4   135.0      90.08  2024-07-26